#app {
    text-align: center;
    width: 90%;
    max-height: 90%;
    margin: auto;
}

.characters {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.item img {
    max-width: 80%;
}